@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Backgrounds and Foregrounds */
    --background: 0 0% 98%; 
    --foreground: 0 0% 20%;

    /* Card and Popover */
    --card: 0 0% 98%; 
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 98%;
    --popover-foreground: 0 0% 20%;

    /* Primary Colors */
    --primary: 14 71% 52%; /* colore primario in HSL */
    --primary-foreground: 0 0% 100%; /* bianco per contrasto */

    /* Secondary Colors */
    --secondary: 19 30% 59%; /* secondario 1 in HSL */
    --secondary-foreground: 0 0% 20%; /* grigio scuro per contrasto */

    /* Muted and Accents */
    --muted: 0 0% 96%; /* grigio di sfondo */
    --muted-foreground: 0 0% 40%; /* grigio medio */
    --accent: 122 39% 53%; /* accento verde */
    --accent-foreground: 0 0% 100%; /* bianco per contrasto */

    /* Destructive */
    --destructive: 0 68% 39%; /* active primario come distruttivo */
    --destructive-foreground: 0 0% 100%; /* bianco per contrasto */
    --success: 122 39% 53%; 
    --success-foreground: 0 0% 100%;

    /* Borders and Inputs */
    --border: 0 0% 80%; /* grigio chiaro */
    --input: 0 0% 80%; /* grigio chiaro */

     /* Key and Value */
     --key: 0 0% 80%; /* colore key (#CCCCCC) */
     --value: 21 100% 97%; /* colore value (#B88572) */

    /* Ring and Radius */
    --ring: 14 67% 46%; /* hover primario */
    --radius: 0.5rem; /* esempio di raggio bordi */

    /* Additional Colors for Charts or Graphs */
    --chart-1: 14 71% 52%; /* colore primario per i grafici */
    --chart-2: 122 39% 53%; /* accento verde per i grafici */
    --chart-3: 207 90% 54%; /* accento blu per i grafici */
    --chart-4: 45 100% 50%; /* focus border giallo per i grafici */
    --chart-5: 330 100% 11%; /* secondario 2 per i grafici */
  }

  .dark {
    /* Backgrounds and Foregrounds */
    --background: 0 0% 20%; /* grigio scuro */
    --foreground: 0 0% 100%; /* bianco */

    /* Card and Popover */
    --card: 0 0% 20%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 100%;

    /* Primary Colors */
    --primary: 0 0% 100%; /* bianco per contrasto */
    --primary-foreground: 14 71% 52%; /* colore primario in HSL */

    /* Secondary Colors */
    --secondary: 19 30% 20%; /* più scuro del secondario 1 per modalità scura */
    --secondary-foreground: 0 0% 100%; /* bianco per contrasto */

     /* Key and Value */
     --key: 0 0% 80%; /* colore key (#CCCCCC) */
     --value: 21 100% 97%; /* colore value (#B88572) */
 

    /* Muted and Accents */
    --muted: 19 30% 20%; /* grigio scuro in modalità scura */
    --muted-foreground: 0 0% 80%; /* grigio chiaro per contrasto */
    --accent: 122 39% 53%; /* accento verde in modalità scura */
    --accent-foreground: 0 0% 100%; /* bianco per contrasto */

    /* Destructive */
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%; 
    --warning: 45 100% 50%; 
    --warning-foreground: 0 0% 20%;
    --success: 122 39% 53%; 
    --success-foreground: 0 0% 100%;

    /* Borders and Inputs */
    --border: 0 0% 40%; 
    --input: 0 0% 40%;
    --border-dark: 0 0% 50%; 


    /* Ring and Radius */
    --ring: 0 0% 80%;
    --radius: 0.5rem;

    /* Additional Colors for Charts or Graphs */
    --chart-1: 14 71% 52%; /* colore primario per i grafici */
    --chart-2: 122 39% 53%; /* accento verde per i grafici */
    --chart-3: 207 90% 54%; /* accento blu per i grafici */
    --chart-4: 45 100% 50%; /* focus border giallo per i grafici */
    --chart-5: 330 100% 11%; /* secondario 2 per i grafici */
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}

html, body, #root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-items: space-between;
}

